/**
 * _all.scss - Theme Base Override Styles SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Authors: Rory Fewell <roryf@oddmatics.uk>
 */

@import "wintc-comctl";
@import "wintc-desktop";
@import "wintc-taskband";
@import "wintc-taskbuttons";
@import "xp-start-plugin";
@import "xp-systray-plugin";

#XfcePanelWindow,
#xfce-panel {
  color: white;

  // Background image for the panel
  background-image: url("../Resources/fake-panel-bg.png");
  background-repeat: repeat-x;
  background-size: auto;
  background-position: center;
}

#whiskermenu-button {
  border: none;
  background-color: transparent;

  image {
    // Override theme icon with a local file
    background-image: url('../Resources/fake-start-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}