/**
 * _all.scss - Theme Base Override Styles SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Authors: Rory Fewell <roryf@oddmatics.uk>
 */

@import "wintc-comctl";
@import "wintc-desktop";
@import "wintc-taskband";
@import "wintc-taskbuttons";
@import "xp-start-plugin";
@import "xp-systray-plugin";

/**** PANEL ****/

/* row size must be 26!!! */
#XfcePanelWindow {
  color: white;
  border: none;

  /* Background image for the panel */
  background-image: url("../Resources/fake-panel-bg.png");
  background-repeat: repeat-x;
}

#whiskermenu-button {
  border: none;
  background-color: transparent;

  image {
    /* Override theme icon with a local file */
    background-image: url('../Resources/start_flag.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
#whiskermenu-window {
  background: #3282e4;
}

#whiskermenu-window frame,
#whiskermenu-window frame > border {
  border: none;
  outline: none;
}

#whiskermenu-window .title-area {
  padding-top: 12px;
  color: white;
  text-shadow: 0 2px 4px #373738;
  font-size: large;
}

#whiskermenu-window .contents {
  background-clip: padding-box;
  background-color: #95bdee;
  border-top: solid 2px #ff8a1b;
}

#whiskermenu-window .categories {
  padding: 8px;
	background: #d3e5fa;
	color: #0a246a;
}

#whiskermenu-window .launchers {
  border-radius: 1px;
	color: #373738;
  background: white;
}
#whiskermenu-window .launchers-pane {
  border: none;
}


#whiskermenu-window .launchers:hover {
	background: #d3e5fa;
	color: #0a246a;
}

#whiskermenu-window .profile-picture {
  padding: 4px;
}

/**** START BUTTON ****/

#whiskermenu-button label {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size:medium;
  text-shadow: 0px 2px 2px #373783;
}

#whiskermenu-image {
  background-image: url("../start_flag.png");
}

#whiskermenu-button {
  background-image: url("../Resources/start_button_body.png");
}

#whiskermenu-button > box {
  min-width: 81px;
  padding-left: 8px;
  padding-right: 8px;
}

#whiskermenu-button:hover {
  min-width: 81px;
  padding-left: 8px;
  padding-right: 8px;
  background-image: url("../Resources/start_button_hover_body.png");
}